*{
    padding: 0%;
}
.blue{
    background-color: blue;
    height: 250px;
}
.red{
  display: flex;
    flex-direction: row;
    justify-content: center;
    
    background-color: red;
    height: 250px;
}
.green{
    background-color: green;
    height: 250px;
}

    

